.img-thumbnail1 {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #8e969f;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    width: 136px;
    height: 90px;
}